---
import Footer from '../components/Header/Footer/Footer.astro';
import Header from '../components/Header/Header.svelte';
import Welcome from '../components/Welcome.astro';
import Counter from '../components/Counter/Counter.svelte';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <Header>This is Header</Header>
    <Welcome />

    <Counter client:visible />

    <Footer>
        <p>This is footer</p>
    </Footer>
</Layout>
